.input-container {
  display: flex;
  margin-left: 20px;
  align-items: center;
}

.charge-type-dropdown {
  height: 35px;
  min-width: 200px;
  margin-bottom: 10px;
  border: 2px solid var(--light-border-color);
  border-radius: 6px;
  font-size: 14px;
  background-color: var(--background-color2);
  cursor: pointer;
}

.name-input {
  height: 30px;
  min-width: 250px;
  margin-right: 20px;
  border: 2px solid var(--light-border-color);
  border-radius: 6px;
  font-size: 14px;
  background-color: var(--background-color2);
}

.charge-parameter {
  margin-left: 20px;
  margin-top: 5px;
}

.charge-parameter-input {
  margin-left: 20px;
  height: 25px;
  border: 2px solid var(--light-border-color);
  border-radius: 6px;
  font-size: 14px;
  background-color: var(--background-color2);
}