/* Display groups in columns */
.modal-overlay-financial-flow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--modal-overlay-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content-financial-flow {
  background-color: var(--theme-background-color-light);
  border-radius: 8px;
  min-width: 400px;
  padding: 20px
}

.financial-flow-parameters-columns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.financial-flow-parameter-column {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  background: var(--background-color2);
  border-radius: 8px;
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.068);
  margin-bottom: 0.5rem;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.financial-flow-parameter-group-title {
  font-size: 1.08rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--theme-background-color);
}

.financial-flow-parameter {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.financial-flow-parameter label {
  font-size: 0.97rem;
  margin-bottom: 3px;
}

.input-container-financial-flow {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.financial-flow-type-selectors {
  display: flex;
  gap: 10px;
  align-items: center;
}

.financial-flow-type-dropdown {
  height: 35px;
  min-width: 200px;
  border: 1px solid var(--light-border-color);
  border-radius: 6px;
  font-size: 14px;
  background-color: var(--background-color2);
  cursor: pointer;
  flex: 1;
}

.name-input-financial-flow {
  width: 100%;
  height: 35px;
  border: 1px solid var(--light-border-color);
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 10px;
}

.dropdown-separator-financial-flow {
  width: 100%;
  margin-bottom: 20px;
}

.financial-flow-parameter-input {
  margin-left: 20px;
  height: 25px;
  border: 1px solid var(--light-border-color);
  border-radius: 6px;
  font-size: 14px;
  background-color: var(--background-color2);
}