.investment-type-dropdown {
  height: 30px;
  min-width: 200px;
  margin-left: 20px;
  margin-bottom: 10px;
  border: 2px solid var(--light-border-color);
  border-radius: 6px;
  font-size: 14px;
  background-color: var(--background-color2);
  cursor: pointer;
}

.dropdown-separator {
  width: 90%;
  margin-bottom: 20px;
}

.investment-parameter {
  margin-left: 20px;
  margin-top: 5px;
}

.investment-parameter-input {
  margin-left: 20px;
  height: 25px;
  border: 2px solid var(--light-border-color);
  border-radius: 6px;
  font-size: 14px;
  background-color: var(--background-color2);
}