.financial-flows-list {
  width: 300px;
  background-color: var(--background-color2);
  border-radius: 10px;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
}

.financial-flows-header {
  height: 50px;
  margin-top: 10px;
  border-bottom: 1px solid var(--light-border-color);
  background-color: var(--background-color2);
  border-radius: 10px 10px 0 0;
}

.financial-flows-content {
  flex: 1;
  overflow-y: auto;
}

.add-financial-flow-btn {
  background-color: var(--button-background-color);
  color: var(--button-font-color);
  border: none;
  border-radius: 25px;
  height: 40px;
  width: 170px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.add-financial-flow-btn:hover {
  background-color: var(--button-hover-background-color);
}

.financial-flows-grid {
  display: flex;
  flex-direction: column;
}

.financial-flow-card {
  background: var(--background-color2);
  border: 1px solid var(--light-border-color);
  border-radius: 8px;
  height: 60px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  width: calc(100% - 30px);
  margin-left: 15px;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.financial-flow-card.cash_inflow::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #4CAF50;
}

.financial-flow-card.investment::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #afa54c;
}

.financial-flow-card.charges::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #f44336;
}

.financial-flow-card:hover {
  box-shadow: 0 0px 8px var(--box-shadow-color);
  border-color: var(--theme-border-color-hover);
}

.financial-flow-card::after {
  content: '✏️';
  position: absolute;
  top: 10px;
  right: 50px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.financial-flow-card:hover::after {
  opacity: 0.7;
}

.financial-flow-icon {
  background: var(--background-color);
  border-radius: 50%;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-shrink: 0;
}

.financial-flow-info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  flex-grow: 1;
}

.delete-financial-flow-btn {
  background-color: var(--button-cancel-background-color);
  color: var(--button-font-color);
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.delete-financial-flow-btn:hover {
  background-color: var(--button-hover-delete-background-color);
}

.financial-flow-type {
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-text-color);
  margin: 0;
}

.financial-flow-name {
  font-size: 12px;
  color: var(--dark-text-color);
  margin-top: 3px;
}

.no-financial-flows-message {
  text-align: center;
  color: var(--dark-text-color);
  margin-top: 20px;
  font-style: italic;
}
