.investments-list {
  width: calc(300px - 50px);
  background-color: var(--background-color2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.investments-header {
  height: 50px;
  margin-top: 10px;
  border-bottom: 1px solid var(--light-border-color);
  background-color: var(--background-color2);
  border-radius: 10px 10px 0 0;
}

.investments-content {
  flex: 1;
  overflow-y: auto;
}

.add-investment-btn {
  background-color: var(--button-background-color);
  color: var(--button-font-color);
  border: none;
  border-radius: 25px;
  height: 40px;
  width: 170px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.add-investment-btn:hover {
  background-color: var(--button-hover-background-color);
}

.investments-grid {
  display: flex;
  flex-direction: column;
}

.investment-card {
  background: var(--background-color2);
  border: 1px solid var(--light-border-color);
  border-radius: 8px;
  height: 70px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  width: calc(100% - 30px);
  margin-left: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.investment-card:hover {
  box-shadow: 0 0px 8px var(--box-shadow-color);
}

.investment-icon {
  background: var(--background-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-shrink: 0;
}

.investment-info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  flex-grow: 1;
}

.delete-investment-btn {
  background-color: var(--button-cancel-background-color);
  color: var(--button-font-color);
  border: none;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.delete-investment-btn:hover {
  background-color: var(--button-hover-delete-background-color);
}

.investment-name {
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-text-color);
  margin: 0;
}

.investment-id {
  font-size: 12px;
  color: var(--dark-text-color);
  margin-top: 3px;
}

.no-investments-message {
  text-align: center;
  color: var(--dark-text-color);
  margin-top: 20px;
  font-style: italic;
}
