.investments-graph {
  width: calc(100% - 330px);
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background: var(--background-color2);
}

.graph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.total-value {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--text-color);
  margin-right: 20px;
  margin-top: 20px;
}

.filter-container {
  margin-bottom: 0;
}

.patrimony-filter {
  width: 200px;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background: var(--background-color1);
  color: var(--text-color);
}

.patrimony-filter option {
  padding: 4px;
  background: var(--background-color1);
}

.graph-container {
  height: calc(100% - 70px);
  width: calc(100% - 20px);
  position: relative;
}
