.placements-graph {
  width: calc(100% - 330px);
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background: var(--background-color2);
}

.graph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.total-value {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--text-color);
  margin-right: 20px;
  margin-top: 20px;
}

.filter-container {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.view-table-button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: var(--background-color);
  border: 1px solid var(--light-border-color);
  border-radius: 4px;
  color: var(--text-color);
  cursor: pointer;
}

.view-table-button:hover {
  border-color: var(--theme-border-color-hover);
}

.graph-container {
  height: calc(100% - 70px);
  width: calc(100% - 20px);
  position: relative;
}
