:root {
  /* Background colors */
  --background-color: #e7e6ec;
  --background-color2: #fafafa;
  --theme-background-color: #2c3e50;
  --theme-background-color-hover: #34495e;

  /* Border colors */
  --light-border-color: #ddd;
  --dark-border-color: #ababab;
  --theme-border-color-hover: #007bff;

  /* Text colors */
  --dark-text-color: #333;
  --light-text-color: #bdc3c7;
}
