:root {
  /* Background colors */
  --background-color: #e7e6ec;
  --background-color2: #fafafa;
  --background-hover-color: #bfbfbf;
  --theme-background-color: #282765;
  --theme-background-color-hover: #333281;
  --theme-background-color-light: #ecedfe;

  /* Border colors */
  --light-border-color: #d6d5d5;
  --dark-border-color: #ababab;
  --theme-border-color-hover: #007bff;

  /* Text colors */
  --dark-text-color: #333;
  --light-text-color: #bdc3c7;

  /* Button colors */
  --button-background-color: #28a745;
  --button-hover-background-color: #218838;
  --button-danger-background-color: #dc3545;
  --button-hover-danger-background-color: #c82333;
  --button-cancel-background-color: #6c757d;
  --button-hover-cancel-background-color: #5a6268;
  --button-hover-delete-background-color: #c82333;
  --button-font-color: white;
  --button-modify-background-color: #ffffff;
  --button-hover-modify-background-color: #b0b0b0;

  /* Modal colors */
  --modal-background-color: white;
  --modal-overlay-background-color: rgba(0, 0, 0, 0.5);

  /* Shadow colors */
  --box-shadow-color: rgba(0, 0, 0, 0.2);
}
